<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.yanyan.learn.dao.SysRolePermissionDao">
    <resultMap id="BaseResultMap" type="site.yanyan.learn.pojo.SysRolePermission">
        <id column="id" property="id" jdbcType="INTEGER"/>

    <result column="permission_id" property="permissionId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    	role_id
    	,permission_id
    </sql>
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_role_permission
        where role_id = #{roleId,jdbcType=INTEGER} LIMIT 1
    </select>
    <delete id="delById" parameterType="java.lang.Long">
        delete from sys_role_permission where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="save" parameterType="site.yanyan.learn.pojo.SysRolePermission" keyProperty="id" useGeneratedKeys="true">
        insert into sys_role_permission (role_id, permission_id
        )
        values (  #{roleId,jdbcType=INTEGER}, #{permissionId,jdbcType=INTEGER})
    </insert>

    <update id="editById" parameterType="site.yanyan.learn.pojo.SysRolePermission">
        update sys_role_permission set  role_id = #{roleId
        ,jdbcType=INTEGER}
        ,permission_id = #{permissionId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="list" resultMap="BaseResultMap" parameterType="site.yanyan.learn.vo.SysRolePermissionQuery">
        select
        <include refid="Base_Column_List"/>
        from sys_role_permission
        <trim prefix="where" prefixOverrides="and|or">
        </trim>
        order by roleId desc
    </select>

    <select id="pagelist" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role_permission limit  #{pageNum},#{pageSize};
    </select>
</mapper>