<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.yanyan.learn.dao.sys.SysRolePermissionDao">
    <resultMap id="BaseResultMap" type="site.yanyan.learn.pojo.sys.SysRolePermission">
        <id column="id" property="id" jdbcType="INTEGER"/>

    <result column="permission_id" property="permissionId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    	role_id
    	,permission_id
    </sql>
    <select id="getByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_role_permission
        where role_id = #{roleId,jdbcType=INTEGER}
    </select>

    <delete id="delByInfo" parameterType="site.yanyan.learn.pojo.sys.SysRolePermission">
        delete from sys_role_permission
        where role_id = #{roleId,jdbcType=INTEGER}
        AND permission_id = #{permissionId,jdbcType=INTEGER}
    </delete>

    <insert id="save" parameterType="site.yanyan.learn.pojo.sys.SysRolePermission" useGeneratedKeys="true">
        insert into sys_role_permission (role_id, permission_id
        )
        values (  #{roleId,jdbcType=INTEGER}, #{permissionId,jdbcType=INTEGER})
    </insert>


    <select id="list" resultMap="BaseResultMap" parameterType="site.yanyan.learn.vo.sys.SysRolePermissionQuery">
        select
        <include refid="Base_Column_List"/>
        from sys_role_permission
        order by role_id ASC
    </select>

</mapper>